body {
    background: #e7d3ba;
}

#headerColor{
    background: #a7aeb3;
	color: #707283;
    height: 80px;
    display: flex;
    justify-content: center;
}

.myName{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707283;
    position: relative;
    right: 7em;
    margin-top: 0.5em;
}
.home{
    flex-direction: column;
    margin-top: 0.5em;
    left: 3em;
}











.posicion{
    display: flex;
    justify-content: flex-start;
    
}

.aboutMe{
    margin-top: 3em;
    margin-left: 4em;
    font-size: large;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707283;
    
    

}

.name{
   
    margin-left: 3em;
    color: #707283;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.posicion2{
    display: flex;
    justify-content: flex-start;
   
}
    
.con {
    margin-top: 3em;
    margin-left: 4em;
    font-size: large;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707283;
}

.con2{
    margin-left: 3em;
    color: #707283;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
