#body {
background: #f3eeea;
}

/*....HOME....*/


#headerColor{
    background: #707283;
    color: #a7aeb3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.name{
    position: relative;
    left: 1em;
    top: 1em;
    font-size: 1.5em;

}
.nav{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right:1.5em;
    top: -1em;
    color: #a7aeb3 ;

}

/*...DATOS PERSONALES...*/

.rounded-circle{
    position: relative;
    top: -2.5em;

}

#informacion{
    display: flex;
    justify-self: center;
    margin: 3em ;
    
}

h4{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707283;
    display: flex;
    justify-content: center;
   
}

.aboutMe{
    color: #707283;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.korean{
    color: #707283;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.enjoy{
    color: #707283;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.findMe{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707283;
    display: flex;
    justify-content: center;

}

.git {
    color: #707283;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;

}
    
.icongit{
    position: relative;
    top: 0.2em;
    left: 0.2em;

}

.link{
    color: #707283;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

.iconlink{
    position: relative;
    top: 0.25em;
    left: 0.2em;

}



/*....FORMULARIO....*/


h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707283;
    display: flex;
    justify-content: center;
   
}

#formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

}

.nombre{
    width: 30em;
    display: flex;
    align-self: center;

}

.email{
    width: 30em;
    display: flex;
    align-self: center;

}

.descripcion{
    width: 30em;
    height: 10em;
    display: flex;
    align-self: center;

}

.button{
    width: 5em;
    margin-top: 1em;
    display: flex;
    align-self: center;
    background: linear-gradient(to bottom, #5a9ece 31%, #c8d2ee 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20%;

}
